.vscode/**
.vscodeignore
.github/**
.githooks/**
.tmp/**
.tools/**
.venv/**
.trufflehog-exclude
.pre-commit-config.yaml
node_modules/**
scripts/**
test/**
src/**
out/**/*.map
*.tgz
*.vsix
tsconfig.json
vitest.config.ts
