.vscode/**
.github/**
.githooks/**
.tmp/**
.tools/**
.venv/**
.gitignore
.npmignore
.trufflehog-exclude
.pre-commit-config.yaml
node_modules/**
scripts/**
test/**
src/**
out/**/*.map
package-lock.json
*.tgz
*.vsix
tsconfig.json
vitest.config.ts
